<template>
  <v-app light>
    <v-app-bar :clipped-left="clipped" fixed app color="primary">
      <nuxt-link to="/">
        <v-toolbar-title>
          <v-icon>mdi-calendar-clock</v-icon>
          <span class="black--text">{{title}}</span>
        </v-toolbar-title>
      </nuxt-link>

      <v-spacer />
      <v-btn href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=P97JYRKHJ7NP4&source=url" target="_blank" color="primary">
      <!-- <v-btn href="https://bunq.me/windesheimrooster" target="_blank" color="primary"> -->
        <v-icon>mdi-coffee</v-icon>
        <span v-if="labelVisible" class="ml-2">Geef koffie, krijg meer rooster</span>
      </v-btn>
      <v-menu bottom right>
        <template v-slot:activator="{ on }">
          <v-btn dark icon v-on="on">
            <v-icon>mdi-information</v-icon>
          </v-btn>
        </template>

        <v-list nav>
          <v-list-item href="https://gitlab.com/hiddehs/windesheim-rooster" target="_blank">
            <v-list-item-icon>
              <v-icon>mdi-gitlab</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Open source</v-list-item-title>
          </v-list-item>
          <v-list-item href="mailto:windesheimrooster@hidde.me" target="_blank">
            <v-list-item-icon>
              <v-icon>mdi-email</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Contact</v-list-item-title>
          </v-list-item>
          <v-list-item href="https://hidde.me" target="_blank">
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title>hidde.me</v-list-item-title>
          </v-list-item>
          <v-list-item href="https://jessedegans.nl" target="_blank">
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title>jessedegans.nl</v-list-item-title>
          </v-list-item>
          <v-list-item href="https://hpops.nl" target="_blank">
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title>hpops.nl</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-content>
      <v-container fill-height>
        <nuxt />
      </v-container>
    </v-content>

    <v-footer class="text-center">
      <span class="ml-auto mr-auto py-3">
        made with ❤️ by
        <a href="https://gitlab.com/hiddehs/windesheim-rooster/-/graphs/master">open source contributors</a><br/><a href="https://hidde.dev" target="_blank">hidde.dev</a> creator of
        <a target="_blank" href="https://windesheimkoffie.nl">windesheimkoffie.nl</a> – <a href="mailto:windesheimrooster@hidde.me">Q? mail me</a> – 
        &copy; {{new Date().getFullYear()}}
      </span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "Windesheim Rooster",
      labelVisible: true
    };
  },
  created() {
    setTimeout(() => {
      this.labelVisible = false;
    }, 4000);
  }
};
</script>
