<template>
  <v-row justify="center">
    <v-col lg="9">
      <br />
      <v-alert type="warning">windesheimrooster.nl is niet meer functioneel. <a href='https://www.windesheim.nl/getmedia/6745a14e-852e-4f49-b518-e15daed82aba/Stappenplan-Rooster-instellen-WIP.pdf'>Stel je klasrooster in W.I.P. 🚧</a></v-alert>
      <h1 class="display-2 mb-4">
        Bekijk je klasrooster,
        <br />Check je volgende les
      </h1>
      <p>Hier check je gemakkelijk je rooster in het jaar 2020-2021 en voeg je hem toe aan je bestaande agenda.</p>
       <v-alert type="warning">
        Op dit moment is http://api.windesheim.nl/api (bron van roosters) ⬇️ down, waardoor roosters niet beschikbaar zijn 😢 – eventjes geduld, hij komt er vast weer bovenop 🔝. <br>
        <v-btn small href="http://status.windesheimrooster.nl">Check de laatste status</v-btn>
      </v-alert>
      <br />
      <!-- <v-btn @click="checkLoc">check</v-btn> -->
      <v-row no-gutters>
        <v-col>
          <KlasSearch v-if="lessen == null || lessen.length < 1" @classChanged="classChanged"></KlasSearch>
          <div v-if="lessen && lessen.length > 0">
            <KlasCalendar :lessen="lessen" :currentKlas="currentKlas" @resetClass="resetClass"></KlasCalendar>
          </div>
        </v-col>
      </v-row>
    </v-col>
    <v-snackbar v-model="snackbar" :timeout="timeout">Geen lessen gevonden voor deze klas.</v-snackbar>
  </v-row>
  <!-- </v-row> -->
</template>

<script>
import _ from "lodash";
import Logo from "~/components/Logo.vue";
import KlasCalendar from "~/components/KlasCalendar.vue";
import KlasSearch from "~/components/KlasSearch.vue";

export default {
  components: {
    Logo,
    KlasSearch,
    KlasCalendar
  },
  data: () => ({
    currentKlas: "",
    lessen: null,
    timeout: 2000,
    snackbar: false
  }),
  created() {
    this.currentKlas = this.$cookies.get("class");
    if (this.currentKlas) {
      this.getLessen();
    }
  },
  methods: {
    getLessen() {
      this.$axios.get("/klas/" + this.currentKlas).then(resp => {
        this.lessen = resp.data;
      });
    },

    getJourney() {

      // Get the next lesson
      var nextLesson = this.lessen.find(les => les.starttijd > Date.now());

      // Get coordinates of device to detemine closest NS station
      this.getLocation().then(result => {
        this.$axios
          .post("/journey", {
            latitude: result.coords.latitude,
            longitude: result.coords.longitude,
            arriveby: nextLesson.starttijd
          })
          .then(function(response) {
            console.log("Fetched journeys:")
            console.log(response.data.journeys);
          })
          .catch(function(error) {
            console.log(error);
          });
      });
    },

    getLocation() {
      return new Promise(function(resolve, reject) {
        navigator.geolocation.getCurrentPosition(function(position) {
          resolve(position);
        });
      });
    },

    classChanged(klas) {
      console.log(`Klas changed to ${klas}`);
      this.$ga.event({
        eventCategory: "Klas",
        eventAction: "selected",
        eventLabel: `User selected class ${klas}`
      });
      this.currentKlas = klas;
      this.$cookies.set("class", klas);
      // this.$cookies.set("locationlatlon", "xxx,xxx");
      this.getLessen();
      if (this.lessen && this.lessen.length < 1) this.snackbar = true;
    },
    resetClass() {
      this.$cookies.remove("class");
      this.currentKlas = "";
      this.lessen = null;
    },
    checkLoc() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          function(position) {
            console.log(position);
          },
          function(error) {
            console.log(error.message);
          },
          {
            enableHighAccuracy: true,
            timeout: 10000
          }
        );
      } else {
        console.log("Geolocation is not supported by this browser.");
      }
    }
  }
};
</script>
